*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  height:100vh;
  background-image: url("https://miro.medium.com/v2/resize:fit:1400/1*uovQPiAmMmVS4w0lK2iDaw.jpeg");
  background-size: cover;
  background-position: center;
}
#check{
  position:fixed;
  top:0;
  right:0;
  display: none;
}
.main{
  height:100vh;
  background: transparent;
  display: flex;

  color:white;
}
.main .container{
  display: none; 
}
.container .name,
.container .navbar,
.container .links,
.container .navbar .goto{
  width:100%;
}
.container .name{
  padding: 25px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.container .name label{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:0;
  right:0;
}
.container .name span{
  font:700 25px arial;
  letter-spacing: 1px;
  color: rgb(255, 255, 255);
}

.container .navbar .goto{
  padding: 12px 30px;
  display: flex;
  align-items: center;
}
.container .navbar .goto i{
  font-size: 25px;
}
.container .navbar .goto span{
  font:normal 18px arial;
  margin-left: 10px;
}

.container .links{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;/* VVI */
  padding: 12px;

  position: absolute;
  bottom: 0;
}
.container .links a i{
  font-size: 25px;
}
.container a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
  text-decoration: none;
}

.main>label i{
  background:rgba(0, 0, 0, 0.3);
  margin:5px;
  font-size: 40px;
  border-radius: 5px;
}

/* .container>div:nth-child(2n+1){
  background-color: red;
} */
.container>div:nth-child(3),
.container .navbar>div{
  transition: all 0.4s ease;
}

.container>div:nth-child(3):hover,
.container .navbar a>div:hover{
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.container *,
.main>label>i{
  cursor: pointer;
}

@media (min-width:650px) and (max-width:775px) {
  .container .name span,
  .container .navbar .goto i{
    font-size: 20px;
  }
}
@media (max-width:649px) {
  .container .name{
    display:none;
  }
  .container .navbar{
    margin-top: 10px;
  }
}
@media (max-width:560px) {
  .container .navbar .goto span{
    display:none;
  }
  .container .navbar .goto{
    justify-content: center;
  }
  .container .navbar .goto i{
    font-size: 30px;
  }
}

#check:checked + .main .container{
  display:inline-flex;
  flex-direction: column;

  background:rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);

  min-width: 150px;
  width: 30%;
  max-width:280px;
  position: relative;
}
#check:checked + .main>label i{
  background: transparent;
}